.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 18vw;
	bottom: 4vh;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 71vw;
	max-width: 1200px;
	margin: auto;
	position: fixed
}

.container .btnMenu,
.logo {
	float: left;
	line-height: 100px;
}

.container .btnMenu label {
	color: #fff;
	font-size: 2vw;
	cursor: pointer;
}

.container .menu {
	float: right;
	line-height: 100px;
}

h1 {

	font-family: acru, verdana, sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 4vw;

}
//logoAcru
#header__logo {
	width: 9vw;
}

#header__logo:hover {
	transform: rotateZ(360deg);
	transition: transform 1s;
	cursor: pointer;
}

section h2 {
	text-align: center;
}

#acru1 {
	width: 43vw;
	border-radius: 70px;
}