/*Menù lateral*/
$r:5px;
$p:20px;
$w:100%;

.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	top: 0;
	left: 0;
}

#btnMenu {
	display: none;
}

.containerMenu {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: $w;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

#btnMenu:checked~.containerMenu {
	opacity: 1;
	visibility: visible;
}



#btnMenu:checked~.containerMenu .div__menu {
	transform: translateX(0%);
}



.div__menu {
	width: $w;
	max-width: 250px;
	background: #1c1c1c;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
	nav {
		transform: translateY(15%);
		ul {

			li {

				a {
					display: block;
					text-decoration: none;
					padding: $p;
					/*  sass2  */
					color: #c7c7c7;
					border-left: $p/4 solid transparent;
					transition: all 400ms ease;
					&::hover{
						border-left: 5px solid #c7c7c7;
						background: #1f1f1f;
					}

					}
				}
			}
		}
	}




.div__menu {
	label {
		position: absolute;
		right: $r;
		top: $r*2;
		/*     sass-2             */
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
}



#menuL:hover {
	transform: rotate(360deg);
	transition: transform 1s;
	cursor: pointer;
}

input,
textarea {
	color: white;
}





.submenu {
	position: absolute;
	background: #333333;
	width: $w+20;
	/* sass -2*/
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s;
	li {
		a {
			display: block;
			padding: $p - 5;
			color: #fff;
			text-decoration: none;
		}
	}
}

li:hover {
	.submenu {
		visibility: visible;
		opacity: 1;
	}
}

/*Fin de Menù lateral*/